/debug.a/
/openwrt.a/
/openwrt.so/
/debug.so/
/autom4te.cache/
/m4/
/mips/
/x86/
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/Makefile.in
/missing
*~
.*~
.settings/
.cproject
.project
/nbproject/
.idea/
cmake-build-debug*/
build
upload.txt
patch*.txt
plan*.txt
